{% extends '::base.html.twig' %}
{% block body -%}
	<div class="row">
		<div class="col-md-3 profile">
			<aside>
				<img src="http://placehold.it/150x150" alt="logo image" class="img-circle">
				<h4>Matej Ferenc</h4>
				<p>Freelance</p>
				<hr>
				<p>share this page</p>
				<ul class="clearfix">
					<li>F</li>
					<li>G</li>
					<li>Y</li>
					<li>L</li>
				</ul>
			</aside>
		</div>
		<div class="col-md-8">
			{% for article in pagination %}
			<article>
				<header><h2>{{ article.title }}</h2></header>
				<footer><small> posteded on: 1.1.2015</small></footer>
				<div class="lead">{{ article.content |slice(0, 100) }}...<a href="{{ path('mfp_web_site_display', {id: article.id} )}}">read more</a>
				</div>
				<footer>
					<span class="label label-default">{{article.category}}</span>
				</footer>
				<hr>
			</article>
		{% endfor %}
		<div class="naviagtion text-center">
    		{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
